<ion-view view-title="Posts">
<!--<<<<<<< HEAD-->
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear button-positive button-icon icon ion-compose"></button>-->
  <!--</ion-nav-buttons>-->
  <!--<ion-content>-->
    <!--<ion-refresher-->
      <!--pulling-text="Pull to refresh..."-->
      <!--on-refresh="doRefresh()">-->
    <!--</ion-refresher>-->
<!--=======-->

  <ion-nav-buttons side="right">
    <a class="button button-clear
    button-positive button-icon
    ion-compose" href="/#/tab/compose">
    </a>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="post in posts" type="item-text-wrap" href="#">
        <img ng-src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
        <h2>{{post.name}}</h2>
        <p class="view-message">{{post.message}}</p>
        <p class="view-time">{{formatTime(post.createdTime)}}</p>
      </ion-item>
      <!--<ion-item ng-repeat="item in items"-->
                <!--item="item"-->
                <!--href="#/item/{{item.id}}">-->
        <!--Item {{ item.id }}-->
      <!--</ion-item>-->
    </ion-list>

    <ion-infinite-scroll ng-if="canLoad" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>

</ion-view>
